body {
  padding-top: 90px;
}
.navbar-inverse {
  background-color: #e36f28 !important;
  border-color: #b54b00 !important;
}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff!important;
}
.navbar {
  min-height: 70px !important;
  }
.navbar-nav {
  margin-top: 10px !important;
  }

.panel-info>.panel-heading {
  color: #e36f28 !important;
  background-color: #f7f1d9 !important;
  border-color: #f1d7bc !important;
}
.btn-primary {
  background-color: #3392b7 !important;
  border-color: #2e6da4 !important;
  }

.success-btn{
    width:90%;
    background: #e36f28;
    border: black;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: none;
    white-space: nowrap;
    border-radius: 7px;
}

a {
  color: #e36f28 !important;
}
.btn-success {
color: #fff !important;
background-color: #e36f28 !important;
border-color: #e36f28 !important;
font-size: 12px !important;
}
.alert-success {
  color: #808080 !important;
  background-color: #f0ead8 !important;
  border-color: #e9e8c6 !important;

}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #e36f28 !important;
    border-color: #e36f28 !important;
}
.panel-info {
    border-color: #f1debc !important;
}
/* -- login paper styles ------------------------------ */
.input-section {
  border-radius: 2px;
  padding: 40px;
  background-color: #013c52 !important;
}
.input-section .display1 {
  color: #fff;
}
.input-section .subhead{
  color: #fff;
}
.table-section{
  padding: 40px 20px;
  background-color: #f8f6f1;
}


/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #e36f28, #e36f28 12.5%, #6f6f6f 12.5%, #6f6f6f 25%, #e36f28 25%, #fecf71 37.5%, #e36f28 37.5%, #e36f28 50%, #6f6f6f 50%, #6f6f6f 62.5%, #e36f28 62.5%, #fecf71 75%, #e36f28 75%, #e36f28 87.5%, #6f6f6f 87.5%, #6f6f6f);
  background-image: -moz-linear-gradient(left, #e36f28, #e36f28 12.5%, #6f6f6f 12.5%, #6f6f6f 25%, #e36f28 25%, #fecf71 37.5%, #e36f28 37.5%, #e36f28 50%, #6f6f6f 50%, #6f6f6f 62.5%, #e36f28 62.5%, #fecf71 75%, #e36f28 75%, #e36f28 87.5%, #6f6f6f 87.5%, #6f6f6f);
  background-image: -o-linear-gradient(left, #e36f28, #e36f28 12.5%, #6f6f6f 12.5%, #6f6f6f 25%, #e36f28 25%, #fecf71 37.5%, #e36f28 37.5%, #e36f28 50%, #6f6f6f 50%, #6f6f6f 62.5%, #e36f28 62.5%, #fecf71 75%, #e36f28 75%, #e36f28 87.5%, #6f6f6f 87.5%, #6f6f6f);
  background-image: linear-gradient(to right, #e36f28, #e36f28 12.5%, #6f6f6f 12.5%, #6f6f6f 25%, #e36f28 25%, #fecf71 37.5%, #e36f28 37.5%, #e36f28 50%, #6f6f6f 50%, #6f6f6f 62.5%, #e36f28 62.5%, #fecf71 75%, #e36f28 75%, #e36f28 87.5%, #6f6f6f 87.5%, #6f6f6f);
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.c-otp {
  text-align: center;
}
.c-otp__label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
.c-otp__input {
  border: solid 1px #B8B8B8;
  border-radius: 3px;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  height: 48px;
  margin-right: 3px;
  outline: none;
  text-align: center;
  -webkit-appearance: none;
  width: 34px;
}
.c-otp__group{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.verification-btn{
  display: block;
  background-color: #013c52 !important;
  color: #fff !important;
  font-size: 12px !important;
  font-family: segoe ui !important;
  border: 1px solid #013c52 !important;
  width: 49% !important;
  transition: 0.3s all;
  border-radius: 10px;
  }

.verification-btn:hover{
  background-color: #ec5b02 !important;
  border: 1px solid #ec5b02 !important;
  transition: 0.3s all;
  }
.verification-btn-Progress{
  display: block;
  background-color: #e36f28 !important;
  color: #fff !important;
  font-size: 12px !important;
  font-family: segoe ui !important;
  border: 1px solid #e36f28 !important;
  width: 49% !important;
  border-radius: 10px;
  }

.verification-btn-resend{
  display: block;
  background-color: #ffffff !important;
  /* color: #fff !important; */
  font-size: 12px !important;
  font-family: segoe ui !important;
  border: 1px solid #c1c1c1 !important;
  width: 49% !important;
  border-radius: 10px;
  margin-left: 3px;
}
